body{
    background-color: #ebebeb;
    font-family: sans-serif;
}

.dashboard{

    width: 100%;
    height: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.dashboard__cards{
    width: 63%;
    align-self: center;
    margin: 10px 10px 0px 10px;
}
/* ############################ Cards of comments ############## */
.dashboard__cards--comment{
    
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    min-height: 164px;
    padding: 10px 0px;
}
/* ##################### Counter ################# */
.dashboard__cards--counter{
    width: 41px;
    height: 103px;
    background-color: #f0f0f8a1;
    margin: 16px 22px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}
.dashboard__cards__counter--plus{
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin-top: 9px;
}
.dashboard__cards__counter--minus{
    width: 17px;
    height: 5px;
    cursor: pointer;
    margin-bottom: 12px;
}
.dashboard__cards__counter--number{
    font-weight: bold;
    font-size: 20px;
    color: hsl(228, 45%, 44%);
}
/* #################### Contain #################### */
.dashboard__cards--contain{
    width: 83%;
    align-self: center;
    margin-right: 20px;
    min-height: 81%;
}
/* ############### optNav ############# */

.dashboard__cards__contain--optNav{
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.dashboard__cards__contain__optNav--dataUser{
 
    display: flex;
    align-items: center;
    width: 100%;
}
.dashboard__cards__contain__optNav__dataUser--avatar{
    height: 100%;
}
.dashboard__cards__contain__optNav__dataUser--name{
    text-decoration: none;
    color: hsl(228, 45%, 44%);
    font-weight: bold;
    margin-left: 10px;
}
.dashboard__cards__contain__optNav__dataUser--tagYou{
    width: 41px;
    height: 20px;
    background-color: hsl(228, 45%, 44%);
    margin-left: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
}
.dashboard__cards__contain__optNav__dataUser--tagYou span{
    vertical-align: middle;
}
.dashboard__cards__contain__optNav__dataUser--date{
    font-weight: bold;
    color: rgba(94, 94, 94, 0.504);
    margin-left: 10px;
}

.dashboard__cards__contain__optNav--btns{
    align-self: center;
    display: flex;

}
.dashboard__cards__contain__optNav__btns--arrow{
    color: hsl(228, 45%, 44%);
    margin-right: 3px;
    
}
.dashboard__cards__contain__optNav__btns--trash{
    color: hsl(228, 45%, 44%);
    margin-right: 5px;
    
}
.dashboard__cards__contain__optNav__btns--pen{
    color: hsl(228, 45%, 44%);
    margin-right: 2px;
    
}
.dashboard__cards__contain__optNav__btns--reply{
    border: none;
    font-weight: bold;
    color: hsl(228, 45%, 44%);
    padding: 0px;
    background-color: #fff;
    cursor: pointer;
    width: 62px;
}
.dashboard__cards__contain__optNav__btns--delete{
    border: none;
    font-weight: bold;
    color: rgba(225, 83, 83, 0.881);
    padding: 0px;
    background-color: #fff;
    cursor: pointer;
    width: 62px;
    display: flex;
    margin-right: 15px;
}
.dashboard__cards__contain__optNav__btns--edit{
    border: none;
    font-weight: bold;
    color: hsl(228, 45%, 44%);
    padding: 0px;
    background-color: #fff;
    cursor: pointer;
    width: 62px;
}
/* ############### Comment ############# */

.dashboard__cards__contain--comment{
    width: 100%;
    min-height: 90px;
    
}
.dashboard__cards__contain__comment--text{
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: rgba(77, 77, 77, 0.716);
}





/* ############################ Cards of Replies ############## */
.dashboard__cards--repliesContainer{
    width: 100%;
    display: flex;
}
.dashboard__cards__repliesContainer--verticalLine{
    width: 5px;
    background-color: rgba(210, 207, 207,0.5);
    margin: 10px 34px 0px 44px;
}
.dashboard__cards__repliesContainer--replies{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dashboard__cards__repliesContainer__replies--reply{
    width: 98%;
    min-height: 164px;
    background-color: #fff;
    align-self: flex-end;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    padding: 10px 0px;

}

footer{


}


